@charset "utf-8";
/* default setting */
*{
    margin:0;
    padding:0;
}
html{
    font-size:62.5%;
}
body{
    color:rgba(0,0,0,0.78);
    display:table;font-size:16px;
    fon-size:1.6rem;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
}
/* nav start */
.nav{
    background-color: #fff;
    box-shadow:0 0 4px rgba(0,0,0,0.12);
}
.nav .container .header{
    padding:24px;
}
.nav .container .logo{
    float:left;
    margin-left:12px;
} 
.nav .container .logo img{
    width:36px;
}
.nav .container .primary{
    display:inline-block;
}
.nav .container .primary li{
    float:left;
    
}
.nav .container .primary a{
    padding:5px 10px;
    font-size:1.6rem;
    display:block;
    color:inherit;
    font-weight:700;
}
.nav .container .nav-menu{
    float:right;
    padding:6px 0;
}
.nav .container{
    height:100%;
}
.nav .container .body{
    /* height:calc(100%-98px); */
    display:tanle;
}
.nav .container .body .text{
    font-size:2.6rem;
    font-weight:700;
    margin-bottom:20px;
}
.nav .container .body .account-entry{
    display:table-cell;
    vertical-align: middle;
    padding:0 24px 0 84px;
}

/* content start */
.content{
    background-color: #ddd;
    height:1000px;
}
/* 大于1024 */
@media(min-width:1025px){
    .nav{
        width:30%;
        position:fixed;
        top:0;
        left:0;
        bottom:0;
    }
    .nav .overlay{
        width:30%;
    }
    .nav .overlay .o-content{
        width:100%;
        
    }
    .content{
        width:70%;
        margin-left:30%;
    }
}