
            *{margin:0 ; padding:0;}
            .active{display:none;}
            .container{ }
            .nav{ width:505px; height:96px;}.img1 img{height:96px;line-height:96px;}
           .tubiao{margin-left:130px;right:0px;} 
           #cha{margin-left:343px;right:0px;} 
            .nav li{margin-right:30px;font-size:bold 15px;float:left;list-style:none;height:96px;line-height:96px;}
            .account-w{font-size:26px;}
            .account i{font-size:36px;}
            #middle{width:307;height:90px;padding:84px;margin-top:170px;}
            footer{margin:20px;}
            footer span{color:green;}
            footer a{width:32px;text-align:center;border-radius:7.5px 7.5px;height:15px;border:0.5px solid green;color:green;margin-left:20px;}
           #container2{transition:transform 1s ease; width:362.67px;height:900px;margin-left:90px;overflow:scroll; }
           #container2 li{ list-style:none;margin:20px;text-decoration:none;}
           #container2 a{text-decoration:none;font-size:18px;}
            .line{border-bottom:0.5px solid grey;margin-bottom: 20px;}
            .container-bottom{margin-top:40px;}
            .container-bottom a{font-size:14px;color:grey;}
            
           /* #cha{ z-index:100;display: inline-block; width: 20px;height:5px; background: black;line-height: 0;font-size:0;vertical-align: middle;-webkit-transform: rotate(45deg);} */
           /* #cha:after{content:'/';display:block;width: 20px;height:5px; background: black;-webkit-transform: rotate(-90deg);} */
            /* #container2 li a{text-decoration:none;color:inherit;font-size:bold 15px;font-weight:bold;} */