<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(item,index) in objArr">
            <span v-for="items in item">{{items}}</span>
            </li>
        </ul>
        <div >{{sortObj}}</div>
    </div>
    
    <script src="./vue.js"> </script>
    <script>
    new Vue({
        el:"#app",
        data:{
            
            arr:[1,2,3,4,5,6],
            num:10,
            obj:{
                name:"xiaoming",
                age:"12",
                scholl:"linda"
            },
            objArr:[{
                name:"xiaoling",
                age:"19",
                scholl:"linda"
            },
            {
                name:"xiaoxing",
                age:"22",
                scholl:"linda"
            },
            {
                name:"xiaoding",
                age:"18",
                scholl:"linda"
            }

        ]
        },
        computed:{
            sortObj(){
                return this.num + 5
            }
        }
        
       
        })
    
    
    </script>
</body>
</html>