<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
              <form>
                    <nav class="navbar navbar-light bg-light justify-content-between">
                            <a class="navbar-brand">todolist</a>
                            <form class="form-inline">
                              <input class="form-control mr-sm-2" type="search" placeholder="请输入关键字" aria-label="Search">
                              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                          </nav>
                   
               </form>
               <form>
                   <div class="add">
                    <div class="form-group">
                      <label for="exampleInputEmail1">商品名称</label>
                      <input v-model="todo" v-on:keyup.enter"addTodo(123,$event)" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="请输入名称">
                    
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">商品价格</label>
                      <input v-model="todo" v-on:keyup.enter"addTodo(123,$event)" type="text" class="form-control" id="exampleInputPassword1" placeholder="0">
                    </div>
                </div>
                    <button type="submit" @click:"addNewItem(newItem)" class="btn btn-primary">增加</button>
                  </form>
        <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">选择</th>
                    <th scope="col">商品名称</th>
                    <th scope="col">商品价格</th>
                    <th scope="col">删除</th>
                  </tr>
                </thead>
                <tbody v-for="(item,index) in list">
                  <tr  v-for="(pro,ind) in item">
                    
                    <th scope="row"> <input type="checkbox" aria-label="Checkbox for following text input"></th>
                    <td>{{proname}}</td>
                    <td>{{proprice}}</td>
                    <td><input type="button" class="btn btn-info" value="移除" @click="handleRemove(index,ind)"><span aria-hidden="true">&times;</span></button></td>
                  </tr>
                  
                </tbody>
              </table>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="./vue.js"></script>
    <script>
    let add=new Vue({
        el:".add",
        data: {
         list:list,
         name:"",
         price:""
    },
    methods: {
        addTodo: function(data,ev) {
            this.list.push({
                proname:this.name,
                proprice:this.price

            });
            
        
        this.todo=""
        }
    }
});
// let quitity=new Vue({
//     el:".add",
//     data:{

//     },
//     computed:{
//       proPrice{
//           return this.num
//       }
//     }
// })



    </script>


</body>
</html>