<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div class="page-top">
        <h2>任务计划列表</h2>
    </div>
    <div class="main">
        <h3 class="big-title">添加任务：</h3>
        <input type="text" placeholder="例如：洗衣服   提示：+回车可添加任务" class="task-input"
         v-on:keyup.enter="addTodo" 
         v-model="todo">
        <ul class="task-count"  v-show="list.length">
            <li>一个任务未完成</li>
            <li class="action">
                <a href="#" class="active">所有任务</a>
                <a href="#">未完成的任务</a>
                <a href="#">完成的任务</a>
            </li>
        </ul>
        <h3 class="big-title">任务列表：</h3>.
        <div class="tasks">
                <span class="no-task-tip" v-show="!list.length">还没有添加任何任务</span>
                <ul class="todo-list">
                    <li class="todo" :class="{completed:item.isChecked}" v-for="item in list">
                        <div class="view">
                            <input  class="toggle" type="checkbox" v-model="item.isChecked">
                            <label>{{item.title}}</label>
                            <button class="destroy" @click="deleteTodo()"></button>
                        </div>
                        <input class="edit" type="text">
                    </li>
                </ul>
        
    </div>
    
    </div>
    <script src="./vue.js"></script>
    <script src="./app.js"></script>
    <script>
    
    </script>
</body>
</html>